<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <!-- our css should be below all other styles so that we can override it-->
        <link rel="stylesheet" href="/css/home.css">
        <body>

            <h1 id="page-heading" >
                <i class="fas fa-address-book"></i>
                My Contacts list</h1>
            <div id="contacts-list-container">
                <ul>
                    <% for (let i of contact_List) { %>
                        <!--Display contact-->
                        <li class="contact">
                            <div class="details">
                                <p> <%= i.name %></p>
                                <p> <%= i.phone %> </p>
                            </div>
                       

                            <!--delete contact-->

                            <div class="delete-button">
                                <!-- <a href="/delete-contact/?phone=<%= i.phone %>"> <a href="/delete-contact/?phone=<%= i.phone %>& name=<%= i.name%>"> -->
                                <a href="/delete-contact/?id=<%= i.id %>">
                                    <i class="fas fa-window-close"></i>
                                </a>
                            </div>
                        </li>
                    <%}%>

                </ul>
            </div>
            <form id="new-contact-form" action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="Enter name" required>
                <input type="number" name="phone" placeholder="Enter phone" required>
                <button type="submit">Add </button>


            </form>
            <script type="text/javascript" src="/js/home.js"></script>
        </body>
    </head>
</html>